body {
	height: 5000px;
	background: linear-gradient(to bottom, red, blue, green);
}

section {
	width: 1000px;
	height: 600px;
	border: 1px solid #000;
	position: relative;
	margin: 100px auto;
}

section article {
	width: 100px;
	height: 100px;
	background: aqua;
}
