* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ol,
ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

#header2 {
	width: 100%;
	border-bottom: 1px solid #ddd;
	transition: 0.5s;

	.inner {
		width: 1180px;
		height: 150px;
		margin: 0px auto;
		position: relative;

		h1 {
			position: absolute;
			top: 15px;
			left: 0px;
			a {
				font: bold 25px/1 'arial';
				color: #333;
			}
		}
		#gnb {
			width: 100%;
			position: absolute;
			bottom: 0px;
			left: 0px;
			border-top: 1px solid #ccc;
			> li {
				float: left;
				width: 20%;
				height: 60px;
				position: relative;
				&::after {
					content: '';
					display: block;
					width: 1px;
					height: 40%;
					position: absolute;
					top: 30%;
					right: 0px;
					background: #ccc;
				}
				&:last-child::after {
					display: none;
				}
				> a {
					display: block;
					width: 100%;
					height: 100%;
					font: bold 14px/60px 'arial';
					color: #666;
					text-align: center;
				}
			}
		}
		#util {
			position: absolute;
			top: 25px;
			right: 0px;
			li {
				float: left;
				a {
					display: inline-block;
					padding: 10px 30px;
					font: 12px/1 'arial';
					color: #999;
					letter-spacing: 1px;
				}
			}
		}
		.btn {
			display: none;
		}
	}
}

@media screen and (max-width: 1180px) {
	#header2 {
		padding: 0 5vw;

		.inner {
			width: 100%;
			height: 120px;

			h1 {
				a {
					font: bold 20px/1 'arial';
				}
			}
			#gnb {
				> li {
					height: 40px;

					> a {
						font: bold 11px/40px 'arial';
						letter-spacing: 1px;
					}
				}
			}
			#util {
				li {
					a {
						padding: 10px 20px;
						font: 11px/1 'arial';
					}
				}
			}
		}
	}
}

@media screen and (max-width: 639px) {
	#header2 {
		.inner {
			height: 80px;
			#gnb {
				display: none;
			}
			#util {
				display: none;
			}
			.btn {
				display: block;
				position: absolute;
				bottom: 25px;
				right: 0px;
				i {
					font-size: 18px;
					color: #777;
				}
			}
		}
	}
}

#header3 {
	width: 100%;
	border-bottom: 1px solid #ddd;
	background: #333;

	.inner {
		width: 1180px;
		height: 180px;
		margin: 0px auto;
		position: relative;

		h1 {
			position: absolute;
			left: 50%;
			top: 30px;
			transform: translateX(-50%);

			a {
				font: bold 28px/1 'arial';
				color: #ddd;
			}
		}

		#gnb {
			width: 100%;
			border-top: 1px solid #666;
			position: absolute;
			bottom: 0px;
			left: 0px;
			> li {
				width: 20%;
				height: 60px;
				float: left;
				position: relative;
				&::after {
					content: '';
					display: block;
					width: 1px;
					height: 40%;
					position: absolute;
					top: 30%;
					right: 0px;
					background: #666;
				}
				&:last-child::after {
					display: none;
				}
				> a {
					display: block;
					width: 100%;
					height: 100%;
					font: bold 14px/60px 'arial';
					color: #ccc;
					text-align: center;
				}
			}
		}

		#util1 {
			position: absolute;
			top: 40px;
			left: 0px;
			li {
				float: left;
				a {
					display: inline-block;
					padding: 10px 30px;
					font: 12px/1 'arial';
					color: #999;
					letter-spacing: 1px;
				}
			}
		}
		#util2 {
			position: absolute;
			top: 40px;
			right: 0px;
			li {
				float: left;
				a {
					display: inline-block;
					padding: 10px 30px;
					font: 12px/1 'arial';
					color: #999;
					letter-spacing: 1px;
				}
			}
		}
		.btn {
			display: none;
		}
	}
}

@media screen and (max-width: 1180px) {
	#header3 {
		padding: 0 5vw;
		.inner {
			width: 100%;
			height: 140px;

			h1 {
				a {
					font: bold 22px/1 'arial';
				}
			}

			#gnb {
				> li {
					height: 40px;
					> a {
						font: bold 11px/40px 'arial';
						letter-spacing: 1px;
					}
				}
			}

			#util1 {
				li {
					a {
						padding: 10px 15px;
						font: 10px/1 'arial';
					}
				}
			}
			#util2 {
				li {
					a {
						padding: 10px 15px;
						font: 10px/1 'arial';
					}
				}
			}
		}
	}
}

@media screen and (max-width: 639px) {
	#header3 {
		padding: 0 5vw;
		.inner {
			width: 100%;
			height: 100px;

			h1 {
				a {
					font: bold 22px/1 'arial';
				}
			}

			#gnb {
				display: none;
			}

			#util1 {
				display: none;
			}
			#util2 {
				display: none;
			}
			.btn {
				display: block;
				position: absolute;
				bottom: 35px;
				left: 0px;
				i {
					font-size: 18px;
					color: #ddd;
				}
			}
		}
	}
}
