* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ol,
ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

#header {
	width: 100%;
	height: 130px;
	padding: 20px 5vw 30px;
	border: 1px solid #ddd;

	.inner {
		width: 1180px;
		position: relative;
		margin: 0px auto;

		.upper {
			display: flex;
			justify-content: end;
			margin-bottom: 20px;

			li {
				float: left;
				margin-left: 15px;
				a {
					color: rgb(95, 133, 37);
					font-size: 18px;
				}
			}
		}
		.lower {
			display: flex;
			justify-content: space-between;
			align-items: center;

			h1 {
				a {
					font: bold 28px/1 'arial';
					color: rgb(136, 188, 59);
				}
			}

			#gnb {
				display: flex;
				justify-content: center;
				align-items: center;

				li {
					a {
						display: inline-block;
						padding: 10px 20px;
						font: 14px/1 'arial';
						color: #555;
					}
				}
			}

			#search {
				display: flex;
				align-items: center;
				input {
					width: 200px;
					height: 23px;
					border: 1px solid rgb(136, 188, 59);
					border-radius: 5px;
					margin-right: 10px;
				}
				li {
					a {
						font-size: 18px;
						color: rgb(136, 188, 59);
					}
				}
			}
		}
	}
}

#visual {
	width: 100%;
	height: calc(100vh - 130px);

	.swiper {
		width: 100%;
		height: 100%;
		.swiper-wrapper {
			.swiper-slide {
				display: flex;
				justify-content: center;
				align-items: center;
				&.slide1 {
					background-color: pink;
				}
				&.slide2 {
					background-color: lightblue;
				}
				&.slide3 {
					background-color: lightgreen;
				}
			}
		}
		.swiper-button-prev,
		.swiper-button-next {
			color: #888;
		}
	}
}
