* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: #efefef;
}

#header {
  width: 100%;
  height: 130px;
  padding: 20px 5vw 30px;
  border: 1px solid #ddd;
}
#header .inner {
  width: 1180px;
  position: relative;
  margin: 0px auto;
}
#header .inner .upper {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}
#header .inner .upper li {
  float: left;
  margin-left: 15px;
}
#header .inner .upper li a {
  color: rgb(95, 133, 37);
  font-size: 18px;
}
#header .inner .lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .inner .lower h1 a {
  font: bold 28px/1 "arial";
  color: rgb(136, 188, 59);
}
#header .inner .lower #gnb {
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .inner .lower #gnb li a {
  display: inline-block;
  padding: 10px 20px;
  font: 14px/1 "arial";
  color: #555;
}
#header .inner .lower #search {
  display: flex;
  align-items: center;
}
#header .inner .lower #search input {
  width: 200px;
  height: 23px;
  border: 1px solid rgb(136, 188, 59);
  border-radius: 5px;
  margin-right: 10px;
}
#header .inner .lower #search li a {
  font-size: 18px;
  color: rgb(136, 188, 59);
}

#visual {
  width: 100%;
  height: calc(100vh - 130px);
}
#visual .swiper {
  width: 1180px;
  height: 100%;
}
#visual .swiper .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
#visual .swiper .swiper-wrapper .swiper-slide.slide1 {
  background-color: pink;
}
#visual .swiper .swiper-wrapper .swiper-slide.slide2 {
  background-color: lightblue;
}
#visual .swiper .swiper-wrapper .swiper-slide.slide3 {
  background-color: lightgreen;
}
#visual .swiper .swiper-button-prev,
#visual .swiper .swiper-button-next {
  color: #888;
}

#content1 {
  width: 100%;
  padding: 20px 0vw;
}
#content1 .inner {
  width: 1180px;
  margin: 0px auto;
}
#content1 .inner .wrap {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background: #fff;
}
#content1 .inner .wrap .left i {
  font-size: 25px;
  color: #555;
  margin-bottom: 20px;
}
#content1 .inner .wrap .left h1 {
  font: bold 25px/1.2 "arial";
  color: rgb(77, 149, 159);
  margin-bottom: 30px;
}
#content1 .inner .wrap .left .btn {
  font: bold 14px/1 "arial";
  color: #666;
}
#content1 .inner .wrap .right {
  display: flex;
}
#content1 .inner .wrap .right article {
  width: 150px;
  height: 150px;
  text-align: center;
}
#content1 .inner .wrap .right article i {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: rgb(105, 104, 203);
  border: 1px solid #ddd;
  border-radius: 15px;
  margin: 20px auto;
  cursor: pointer;
}
#content1 .inner .wrap .right article p {
  font: 15px/1 "arial";
  color: #555;
}
#content1 .inner .wrap .right article:hover i {
  border: 1px solid rgb(105, 104, 203);
}
#content1 .inner .wrap .right article:hover p {
  font-weight: bold;
  color: rgb(49, 65, 212);
}

/*# sourceMappingURL=style.css.map */
