* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ol,
ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	background: #efefef;
}

#header {
	width: 100%;
	height: 130px;
	padding: 20px 5vw 30px;
	border: 1px solid #ddd;

	.inner {
		width: 1180px;
		position: relative;
		margin: 0px auto;

		.upper {
			display: flex;
			justify-content: end;
			margin-bottom: 20px;

			li {
				float: left;
				margin-left: 15px;
				a {
					color: rgb(95, 133, 37);
					font-size: 18px;
				}
			}
		}
		.lower {
			display: flex;
			justify-content: space-between;
			align-items: center;

			h1 {
				a {
					font: bold 28px/1 'arial';
					color: rgb(136, 188, 59);
				}
			}

			#gnb {
				display: flex;
				justify-content: center;
				align-items: center;

				li {
					a {
						display: inline-block;
						padding: 10px 20px;
						font: 14px/1 'arial';
						color: #555;
					}
				}
			}

			#search {
				display: flex;
				align-items: center;
				input {
					width: 200px;
					height: 23px;
					border: 1px solid rgb(136, 188, 59);
					border-radius: 5px;
					margin-right: 10px;
				}
				li {
					a {
						font-size: 18px;
						color: rgb(136, 188, 59);
					}
				}
			}
		}
	}
}

#visual {
	width: 100%;
	height: calc(100vh - 130px);

	.swiper {
		width: 1180px;
		height: 100%;
		.swiper-wrapper {
			.swiper-slide {
				display: flex;
				justify-content: center;
				align-items: center;
				&.slide1 {
					background-color: pink;
				}
				&.slide2 {
					background-color: lightblue;
				}
				&.slide3 {
					background-color: lightgreen;
				}
			}
		}
		.swiper-button-prev,
		.swiper-button-next {
			color: #888;
		}
	}
}

#content1 {
	width: 100%;
	padding: 20px 0vw;
	.inner {
		width: 1180px;
		margin: 0px auto;
		.wrap {
			padding: 40px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-radius: 20px;
			background: #fff;
			.left {
				i {
					font-size: 25px;
					color: #555;
					margin-bottom: 20px;
				}
				h1 {
					font: bold 25px/1.2 'arial';
					color: rgb(77, 149, 159);
					margin-bottom: 30px;
				}
				.btn {
					font: bold 14px/1 'arial';
					color: #666;
				}
			}
			.right {
				display: flex;

				article {
					width: 150px;
					height: 150px;
					text-align: center;

					i {
						width: 100px;
						height: 100px;
						display: flex;
						justify-content: center;
						align-items: center;
						font-size: 35px;
						color: rgb(105, 104, 203);
						border: 1px solid #ddd;
						border-radius: 15px;
						margin: 20px auto;
						cursor: pointer;
					}
					p {
						font: 15px/1 'arial';
						color: #555;
					}
					&:hover {
						i {
							border: 1px solid rgb(105, 104, 203);
						}
						p {
							font-weight: bold;
							color: rgb(49, 65, 212);
						}
					}
				}
			}
		}
	}
}
