* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ol,
ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	background: #1f1f1f;
}

.calculator {
	width: 287px;
	border: 1px solid #333;
	background: #ccc;
	padding: 5px;
	form {
		display: grid;
		grid-template-columns: repeat(4, 65px);
		grid-auto-rows: 65px;
		grid-gap: 5px;

		input {
			border: 2px solid #333;
			cursor: pointer;
			font-size: 19px;
		}
		.clear {
			background: #ed4848;
			grid-column: span 3;
		}
		.operator {
			background: orange;
		}
		.dot {
			background: green;
		}
		input[type='text'] {
			grid-column: span 4;
		}
		.result {
			grid-column: span 2;
		}
	}
}
