* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

ol,
ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

#box5 {
	width: 100%;
	padding: 180px 0px 150px;
	background: #ddd;
	transition: 0.5s;

	.inner {
		width: 1180px;
		margin: 0 auto;
		position: relative;

		h1 {
			font: bold 22px/1 'arial';
			color: #333;
			margin-bottom: 10px;
			text-align: center;
		}
		> p {
			font: 16px/1 'arial';
			color: #777;
			text-align: center;
			margin-bottom: 80px;
		}

		.wrap {
			display: flex;
			justify-content: center;

			article {
				width: 280px;
				margin-right: 40px;
				&:last-child {
					margin-right: 0px;
				}
				.pic {
					width: 100%;
					height: 130px;
					background-color: #555;
					margin-bottom: 15px;
				}
				h2 {
					font: bold 18px/1 'arial';
					color: #555;
					margin-bottom: 15px;
				}
				p {
					font: 15px/1.2 'arial';
					color: #777;
					margin-bottom: 20px;
				}
				.btn {
					display: block;
					width: 100px;
					height: 30px;
					font: bold 14px/30px 'arial';
					color: #555;
					border: 1px solid #555;
					text-align: center;
				}
			}
		}
	}
}

@media screen and (max-width: 1180px) {
	#box5 {
		padding: 120px 20px 100px;

		.inner {
			width: 100%;

			.wrap {
				flex-wrap: wrap;
				article {
					width: 49%;
					margin-right: 2%;
					&:nth-of-type(2n) {
						margin-right: 0px;
					}
					margin-bottom: 30px;
					.pic {
						height: 15vw;
					}
				}
			}
		}
	}
}
