* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	background-color: pink;
	margin: 10px;
	.item {
		width: 100px;
		height: 100px;
		background: lightblue;
		font-size: 30px;
		font-weight: bold;
		border: 3px solid black;

		&:nth-child(2) {
			position: relative; //다른 item에게 영향x. 덮어씌움
			top: 100px;
			left: 300px;
			z-index: 2;
		}

		&:nth-child(6) {
			position: relative;
			top: -350px;
			left: 350px;
			z-index: 1;
		}
	}
}
