* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	background-color: pink;
	margin: 10px;
	position: relative;
	.item {
		width: 100px;
		height: 100px;
		background: lightblue;
		font-size: 30px;
		font-weight: bold;
		border: 3px solid black;

		&:nth-child(2) {
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

// relative는 absolute랑 같이 자주 쓰임
