<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <script src="https://kit.fontawesome.com/6b1c54714c.js" crossorigin="anonymous"></script>
  <title>Document</title>
</head>

<body>
  <header id="header1">
    <div class="inner">
      <h1>DCODELAB</h1>

      <ul id="gnb">
        <li><a href="#">Department</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Location</a></li>
        <li><a href="#">Contact</a></li>
      </ul>

      <ul id="util">
        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </header>

  <header id="header2">
    <div class="inner">
      <h1><a href="#">DCODELAB</a></h1>

      <ul id="gnb">
        <li><a href="#">COMPANY</a></li>
        <li><a href="#">DEPARTMENT</a></li>
        <li><a href="#">COMMUNITY</a></li>
        <li><a href="#">MEMBERS</a></li>
        <li><a href="#">LOCATION</a></li>
      </ul>

      <ul id="util">
        <li><a href="#">Sitemap</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">SNS</a></li>
      </ul>
    </div>
  </header>

  <header id="header3">
    <div class="inner">
      <h1><a href="#">DCODELAB</a></h1>

      <ul id="gnb">
        <li><a href="#">COMPANY</a></li>
        <li><a href="#">DEPARTMENT</a></li>
        <li><a href="#">GALLERY</a></li>
        <li><a href="#">MEMBERS</a></li>
        <li><a href="#">LOCATION</a></li>
      </ul>

      <ul id="util1">
        <li><a href="#">Login</a></li>
        <li><a href="#">Join us</a></li>
      </ul>

      <ul id="util2">
        <li><a href="#">Sitemap</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">SNS</a></li>

      </ul>
    </div>
  </header>

  <footer id="footer">
    <div class="inner">
      <div class="upper">
        <ul id="terms">
          <li><a href="#">About us</a></li>
          <li><a href="#">Policy</a></li>
          <li><a href="#">Licence</a></li>
          <li><a href="#">Department</a></li>
          <li><a href="#">E-mail</a></li>
        </ul>
        <ul id="sns">
          <li>
            <a href="#"><i class="far fas fa-arrow-right"></i></a>
          </li>
          <li>
            <a href="#"><i class="fas fa-envelope"></i></a>
          </li>
          <li>
            <a href="#"><i class="fas fa-phone-alt"></i></a>
          </li>
        </ul>
      </div>
      <div class="lower">
        <h1>DCODELAB</h1>
        <address>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Beatae expedita accusamus provident
          tempore, sit qui distinctio magni aliquam illo nisi.
        </address>
        <p>2023 DCODELAB Academy &copy; All right reserved. </p>
      </div>
    </div>
  </footer>

  <div id="box">
    <div class="inner">
      <h1>Lorem ipsum dolor sit amet consectetur.</h1>

      <div class="wrap">
        <article>
          <h2>CATEGORY COMES HERE</h2>
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
          <h4>Lorem ipsum dolor sit amet.</h4>
          <a href="#" class="btn">VIEW DETAIL</a>
        </article>
        <article>
          <h2>Lorem, ipsum dolor.</h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit.</p>
        </article>
        <article>
          <h2>Lorem, ipsum dolor.</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid!</p>
        </article>
      </div>
    </div>
  </div>

  <div id="box2">
    <div class="inner">
      <h1>Lorem ipsum dolor sit amet.</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam.</p>

      <div class="wrap">
        <article>
          <div class="pic"></div>
          <div class="txtBox">
            <h2>Sub title here</h2>
            <p>Here comes content description in detail.</p>
            <a href="#" class="btn">view more</a>
          </div>
        </article>
        <article>
          <div class="pic"></div>
          <div class="txtBox">
            <h2>Sub title here</h2>
            <p>Here comes content description in detail.</p>
            <a href="#" class="btn">view more</a>
          </div>
        </article>
        <article>
          <div class="pic"></div>
          <div class="txtBox">
            <h2>Sub title here</h2>
            <p>Here comes content description in detail.</p>
            <a href="#" class="btn">view more</a>
          </div>
        </article>
        <article>
          <div class="pic"></div>
          <div class="txtBox">
            <h2>Sub title here</h2>
            <p>Here comes content description in detail.</p>
            <a href="#" class="btn">view more</a>
          </div>
        </article>
      </div>
    </div>
  </div>

  <div id="box3">
    <div class="inner">
      <h1>Lorem ipsum dolor sit amet consectetur.</h1>
      <div class="wrap">
        <article>
          <div class="pic"> </div>
          <h2>Sub title comes here</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus, ad.</p>
          <a href="#">View more</a>

        </article>
        <article>
          <div class="pic"></div>
          <h2>Sub title comes here</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus, ad.</p>
          <a href="#" class="btn">View more</a>

        </article>
        <article>
          <div class="pic"></div>
          <h2>Sub title comes here</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus, ad.</p>
          <a href="#" class="btn">View more</a>

        </article>
      </div>
    </div>
  </div>

  <div id="box4">
    <div class="left"></div>
    <div class="right">
      <div class="inner">
        <h1>Lorem ipsum dolor sit.</h1>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing.</h2>

        <article>
          <h3>Here comes sub title.</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quasi nobis veniam non accusantium
            nesciunt.</p>
        </article>

        <article>
          <h3>Here comes sub title.</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quasi nobis veniam non accusantium
            nesciunt.</p>
        </article>

        <a href="#" class="btn">VIEW</a>
      </div>
    </div>
  </div>

  <div id="box5">
    <div class="inner">
      <h1>Lorem ipsum dolor sit amet.</h1>
      <div class="wrap">
        <article>
          <div class="pic"></div>
          <h2>Here comes title.</h2>
          <p>Here comes content here in detail</p>
          <a href="" class="icon"><i class="fas fa-search"></i></a>
        </article>
        <article>
          <div class="pic"></div>
          <h2>Here comes title.</h2>
          <p>Here comes content here in detail</p>
          <a href="" class="icon"><i class="fas fa-search"></i></a>
        </article>
        <article>
          <div class="pic"></div>
          <h2>Here comes title.</h2>
          <p>Here comes content here in detail</p>
          <a href="" class="icon"><i class="fas fa-search"></i></a>
        </article>
      </div>
    </div>
  </div>

  <div id="box6">
    <div class="inner">
      <h1>Lorem, Ipsum dolor.</h1>
      <div class="wrap">

        <article>
          <div class="pic"></div>
          <div class="txtBox">
            <h2>Here comes sub title</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt.</p>
            <div class="ico">
              <i class="fab fa-facebook"></i>
              <i class="fab fa-twitter"></i></a>
              <i class="fab fa-instagram"></i>

            </div>
          </div>
        </article>
        <article>
          <div class="pic"></div>
          <div class="txtBox">
            <h2>Here comes sub title</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt.</p>
            <div class="ico">
              <i class="fab fa-facebook"></i>
              <i class="fab fa-twitter"></i></a>
              <i class="fab fa-instagram"></i>

            </div>
          </div>
        </article>
        <article>
          <div class="pic"></div>
          <div class="txtBox">
            <h2>Here comes sub title</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt.</p>
            <div class="ico">
              <i class="fab fa-facebook"></i>
              <i class="fab fa-twitter"></i></a>
              <i class="fab fa-instagram"></i>

            </div>
          </div>
        </article>
        <article>
          <div class="pic"></div>
          <div class="txtBox">
            <h2>Here comes sub title</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt.</p>
            <div class="ico">
              <i class="fab fa-facebook"></i>
              <i class="fab fa-twitter"></i></a>
              <i class="fab fa-instagram"></i>

            </div>
          </div>
        </article>

      </div>
    </div>
  </div>

  <div id="box7">
    <div class="inner">
      <h1>Lorem ipsum dolor sit amet.</h1>
      <p>Lorem, ipsum dolor.</p>
      <a href="#" class="btn">VIEW COMMENTS</a>

      <ul>
        <li>
          <article>
            <h2>Here comes community board contents in detail.</h2>
            <p>Content description comes here in detail. Here comes community board contents in detail.
              Content description comes here in detail. Here comes community board contents in detail.</p>
            <span>2023.08.24</span>
          </article>
          <a href="#" class="btn">VIEW</a>

        </li>
        <li>
          <article>
            <h2>Here comes community board contents in detail.</h2>
            <p>Content description comes here in detail. Here comes community board contents in detail.
              Content description comes here in detail. Here comes community board contents in detail.</p>
            <span>2023.08.24</span>
          </article>
          <a href="#" class="btn">VIEW</a>

        </li>
        <li>
          <article>
            <h2>Here comes community board contents in detail.</h2>
            <p>Content description comes here in detail. Here comes community board contents in detail.
              Content description comes here in detail. Here comes community board contents in detail.</p>
            <span>2023.08.24</span>
          </article>
          <a href="#" class="btn">VIEW</a>

        </li>
        <li>
          <article>
            <h2>Here comes community board contents in detail.</h2>
            <p>Content description comes here in detail. Here comes community board contents in detail.
              Content description comes here in detail. Here comes community board contents in detail.</p>
            <span>2023.08.24</span>
          </article>
          <a href="#" class="btn">VIEW</a>

        </li>
      </ul>
    </div>
  </div>

  <div id="box8">
    <div class="inner">
      <h1>Lorem ipsum dolor sit.</h1>

      <div class="wrap">
        <article>
          <div class="pic">
            <img src="img/pic (1).jpg" alt="pic1">
          </div>
          <div class="txtBox">
            <h2>Category</h2>
            <h3>Here comes Sub title.</h3>
            <p><a href="#">VIEW DETAIL</a><span>sub contents</span></p>
          </div>
        </article>
        <article>
          <div class="pic"><img src="img/pic (2).jpg" alt="pic2"></div>
          <div class="txtBox">
            <h2>Category</h2>
            <h3>Here comes Sub title.</h3>
            <p><a href="#">VIEW DETAIL</a><span>sub contents</span></p>
          </div>
        </article>
        <article>
          <div class="pic"><img src="img/pic (3).jpg" alt="pic3"></div>
          <div class="txtBox">
            <h2>Category</h2>
            <h3>Here comes Sub title.</h3>
            <p><a href="#">VIEW DETAIL</a><span>sub contents</span></p>
          </div>
        </article>
        <article>
          <div class="pic"><img src="img/pic (4).jpg" alt="pic4"></div>
          <div class="txtBox">
            <h2>Category</h2>
            <h3>Here comes Sub title.</h3>
            <p><a href="#">VIEW DETAIL</a><span>sub contents</span></p>
          </div>
        </article>
      </div>
    </div>
  </div>

  <div id="box9">
    <div class="inner">
      <h1>Lorem ipsum dolor sit.</h1>

      <div class="wrap">
        <article>
          <div class="ico"><i class="fab fa-artstation"></i></div>
          <p>icon contents</p>
        </article>
        <article>
          <div class="ico"><i class="fas fa-baseball"></i></div>
          <p>icon contents</p>
        </article>
        <article>
          <div class="ico"><i class="fab fa-apple"></i></div>
          <p>icon contents</p>
        </article>
        <article>
          <div class="ico"><i class="fas fa-baby"></i></div>
          <p>icon contents</p>
        </article>
        <article>
          <div class="ico"><i class="far fa-bell"></i></div>
          <p>icon contents</p>
        </article>
        <article>
          <div class="ico"><i class="fas fa-arrows-alt"></i></div>
          <p>icon contents</p>
        </article>
        <article>
          <div class="ico"><i class="fas fa-box-open"></i></div>
          <p>icon contents</p>
        </article>
        <article>
          <div class="ico"><i class="fas fa-chart-pie"></i></div>
          <p>icon contents</p>
        </article>
        <article>
          <div class="ico"><i class="fab fa-chrome"></i></div>
          <p>icon contents</p>
        </article>
        <article>
          <div class="ico"><i class="fas fa-crown"></i></div>
          <p>icon contents</p>
        </article>
        <article>
          <div class="ico"><i class="far fa-calendar-alt"></i></div>
          <p>icon contents</p>
        </article>
        <article>
          <div class="ico"><i class="fas fa-briefcase"></i></div>
          <p>icon contents</p>
        </article>
      </div>
    </div>
  </div>

  <div id="box10">
    <div class="inner">

      <h1>Lorem ipsum dolor sit amet.</h1>
      <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h2>
      <a href="#" class="btn">VIEW DEATAIL HERE</a>
      <div class="wrap">
        <article>
          <a href="#"><i class="fa-solid fa-baseball"></i></a>
          <p>icon button1</p>
        </article>
        <article>
          <a href="#"><i class="fa-solid fa-cloud"></i></a>
          <p>icon button2</p>
        </article>
        <article>
          <a href="#"><i class="fa-brands fa-apple"></i></a>
          <p>icon button3</p>
        </article>
        <article>
          <a href="#"><i class="fa-solid fa-car-side"></i></a>
          <p>icon button4</p>
        </article>
      </div>

    </div>
  </div>

  <div id="box11">
    <div class="inner">
      <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus!</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit hic maiores, quibusdam illum reprehenderit cum.
      </p>
      <a href="#" class="btn">Lorem,Ipsum dolor</a>
      <div class="wrap">
        <div class="left"></div>
        <div class="right">
          <article>
            <div class="pic"></div>
            <div class="txtBox">
              <h2>Here comes sub title.</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum sit dignissimos vero!</p>
            </div>
          </article>
          <article>
            <div class="pic"></div>
            <div class="txtBox">
              <h2>Here comes sub title.</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dignissimos provident cum?</p>
            </div>
          </article>
          <article>
            <div class="pic"></div>
            <div class="txtBox">
              <h2>Here comes sub title.</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam accusamus voluptatum aperiam.</p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>


</body>

</html>