* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

#header {
  width: 100%;
  border: 1px solid #ddd;
}
#header .inner {
  width: 1180px;
  height: 120px;
  margin: 0px auto;
  position: relative;
}
#header .inner h1 {
  font: bold 28px/1 "arial";
  color: #555;
  position: absolute;
  bottom: 20px;
  left: 0px;
}
#header .inner #gnb {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
#header .inner #gnb > li {
  float: left;
}
#header .inner #gnb > li > a {
  display: inline-block;
  padding: 20px 30px;
  font: bold 17px/1 "arial";
  color: #666;
}
#header .inner #util {
  position: absolute;
  top: 15px;
  right: 0px;
}
#header .inner #util > li {
  float: left;
}
#header .inner #util > li > a {
  display: inline-block;
  padding: 10px 30px;
  font-size: 14px;
  color: #999;
  letter-spacing: 1px;
}

#box {
  width: 100%;
  padding: 180px 0px 150px;
}
#box .inner {
  width: 1180px;
  position: relative;
  margin: 0px auto;
}
#box .inner h1 {
  font: bold 24px/1 "arial";
  color: #555;
  border-bottom: 1px solid #333;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
#box .inner .wrap {
  width: 100%;
  height: 300px;
}
#box .inner .wrap::after {
  content: "";
  display: block;
  clear: both;
}
#box .inner .wrap article {
  background: #777;
  padding: 30px;
}
#box .inner .wrap article:nth-of-type(1) {
  float: left;
  width: calc(70% - 10px);
  height: 100%;
}
#box .inner .wrap article:nth-of-type(1) h2 {
  font: bold 15px/1 "arial";
  color: #111;
  margin-bottom: 10px;
}
#box .inner .wrap article:nth-of-type(1) h3 {
  width: 80%;
  font: bold 35px/1.1 "arial";
  color: #eee;
  margin-bottom: 5px;
}
#box .inner .wrap article:nth-of-type(1) h4 {
  font: 25px/1 "arial";
  color: #ccc;
  margin-bottom: 50px;
}
#box .inner .wrap article:nth-of-type(1) a {
  width: 150px;
  height: 40px;
  text-align: center;
  font: 12px/40px "arial";
  color: #777;
  background: #ccc;
  display: block;
  border-radius: 30px;
}
#box .inner .wrap article:nth-of-type(2), #box .inner .wrap article:nth-of-type(3) {
  float: right;
  width: calc(30% - 10px);
  height: calc(50% - 10px);
}
#box .inner .wrap article:nth-of-type(2) h2, #box .inner .wrap article:nth-of-type(3) h2 {
  font: bold 18px/1 "arial";
  color: #eee;
  margin-bottom: 15px;
}
#box .inner .wrap article:nth-of-type(2) p, #box .inner .wrap article:nth-of-type(3) p {
  font: 15px/1.2 "arial";
  color: #ccc;
}
#box .inner .wrap article:nth-of-type(2) {
  margin-bottom: 20px;
}

#box2 {
  width: 100%;
  padding: 180px 0px 150px;
}
#box2 .inner {
  width: 1180px;
  margin: 0px auto;
  position: relative;
}
#box2 .inner h1 {
  font: bold 22px/1 "arial";
  color: #555;
  text-align: center;
  margin-bottom: 10px;
}
#box2 .inner > p {
  font: 16px/1 "arial";
  color: #888;
  text-align: center;
  margin-bottom: 40px;
}
#box2 .inner .wrap {
  width: 100%;
  height: 300px;
}
#box2 .inner .wrap article {
  width: 280px;
  margin-right: 20px;
  float: left;
  border: 1px solid #ddd;
  border-bottom: 3px solid #888;
}
#box2 .inner .wrap article:last-child {
  margin-right: 0px;
}
#box2 .inner .wrap article .pic {
  width: 100%;
  height: 150px;
  background: #666;
}
#box2 .inner .wrap article .txtBox {
  width: 100%;
  padding: 40px 30px;
  text-align: center;
}
#box2 .inner .wrap article .txtBox h2 {
  font: bold 18px/1 "arial";
  color: #555;
  margin-bottom: 20px;
}
#box2 .inner .wrap article .txtBox p {
  font: 14px/1.3 "arial";
  color: #777;
  margin-bottom: 30px;
}
#box2 .inner .wrap article .txtBox .btn {
  display: block;
  width: 170px;
  height: 40px;
  border-radius: 20px;
  font: 12px/40px "arial";
  color: #fff;
  margin: 0px auto;
  background: linear-gradient(45deg, #888, #aaa);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

#box3 {
  width: 100%;
  padding: 180px 0px 150px;
}
#box3 .inner {
  width: 1180px;
  margin: 0px auto;
  position: relative;
}
#box3 .inner h1 {
  font: bold 24px/1 "arial";
  color: #555;
  text-align: center;
  margin-bottom: 80px;
}
#box3 .inner .wrap {
  width: 100%;
  height: 500px;
}
#box3 .inner .wrap article {
  width: 380px;
  float: left;
  padding: 10px;
  margin-right: 20px;
  border: 1px solid #888;
}
#box3 .inner .wrap article:last-child {
  margin-right: 0px;
}
#box3 .inner .wrap article .pic {
  width: 100%;
  height: 200px;
  background: #555;
  margin-bottom: 20px;
}
#box3 .inner .wrap article h2 {
  font: bold 18px/1 "arial";
  color: #555;
  margin-bottom: 10px;
}
#box3 .inner .wrap article p {
  font: 14px/1.3 "arial";
  color: #777;
  margin-bottom: 30px;
}
#box3 .inner .wrap article a {
  font: 12px/1 "arial";
  color: #333;
}

#box4 {
  width: 100%;
}
#box4::after {
  content: "";
  display: block;
  clear: both;
}
#box4 .left {
  width: 50%;
  height: 500px;
  float: left;
  background: #888;
}
#box4 .right {
  width: 50%;
  height: 500px;
  float: left;
  background: #222;
}
#box4 .right .inner {
  width: 590px;
  padding: 50px;
}
#box4 .right .inner h1 {
  font: bold 22px/1 "arial";
  color: #fff;
  margin-bottom: 5px;
}
#box4 .right .inner h2 {
  font: 18px/1 "arial";
  color: #aaa;
  margin-bottom: 50px;
}
#box4 .right .inner article {
  margin-bottom: 30px;
}
#box4 .right .inner article h3 {
  font: bold 16px/1 "arial";
  color: #666;
  margin-bottom: 10px;
}
#box4 .right .inner article p {
  font: 12px/1.2 "arial";
  color: #555;
}
#box4 .right .inner .btn {
  display: block;
  width: 120px;
  height: 30px;
  border-radius: 15px;
  background: #666;
  font: 12px/30px "arial";
  color: #111;
  text-align: center;
}

#box5 {
  width: 100%;
  padding: 180px 0px 150px;
}
#box5 .inner {
  width: 1180px;
  margin: 0px auto;
  position: relative;
}
#box5 .inner h1 {
  font: bold 22px/1 "arial";
  color: #555;
  text-align: center;
  margin-bottom: 50px;
}
#box5 .inner .wrap article {
  width: 380px;
  margin-right: 20px;
  float: left;
  position: relative;
}
#box5 .inner .wrap article:last-child {
  margin-right: 0px;
}
#box5 .inner .wrap article .pic {
  width: 110px;
  height: 70px;
  background: #555;
  position: absolute;
  top: 0;
  left: 0;
}
#box5 .inner .wrap article h2 {
  padding-top: 10px;
  font: bold 16px/1 "arial";
  color: #666;
  margin-left: 120px;
}
#box5 .inner .wrap article p {
  font: 14px/1.2 "arial";
  color: #888;
  margin-left: 120px;
  margin-right: 45px;
}
#box5 .inner .wrap article .icon {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ddd;
  position: absolute;
  top: 50%;
  right: 0px;
  margin-top: -20px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 40px;
}

#box6 {
  width: 100%;
  padding: 180px 0 150px;
  background: lightgray;
}
#box6 .inner {
  width: 1180px;
  margin: 0px auto;
  position: relative;
}
#box6 .inner h1 {
  font: bold 20px/1 "arial";
  color: #555;
  margin-bottom: 50px;
}
#box6 .inner .wrap {
  width: 100%;
  height: 300px;
}
#box6 .inner .wrap article {
  width: 580px;
  height: 120px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
#box6 .inner .wrap article:nth-of-type(2n) {
  margin-right: 0px;
}
#box6 .inner .wrap article .pic {
  width: 120px;
  height: 100%;
  background: #bbb;
  float: left;
}
#box6 .inner .wrap article .txtBox {
  width: 460px;
  height: 100%;
  float: left;
  background: #fff;
  padding: 20px;
}
#box6 .inner .wrap article .txtBox h2 {
  font: bold 18px/1 "arial";
  color: #555;
  margin-bottom: 5px;
}
#box6 .inner .wrap article .txtBox p {
  font: 14px/1.2 "arial";
  color: #777;
  margin-bottom: 10px;
}
#box6 .inner .wrap article .txtBox .ico {
  font-size: 16px;
  color: #999;
  margin-right: 10px;
}

#box7 {
  width: 100%;
  padding: 180px 0px 150px;
}
#box7 .inner {
  width: 1180px;
  margin: 0px auto;
  position: relative;
}
#box7 .inner h1 {
  font: bold 22px/1 "arial";
  color: #555;
  text-align: center;
  margin-bottom: 10px;
}
#box7 .inner > p {
  font: 16px/1.2 "arial";
  color: #777;
  margin-bottom: 40px;
  text-align: center;
}
#box7 .inner > .btn {
  display: block;
  width: 200px;
  height: 40px;
  background: linear-gradient(45deg, #888, #555);
  border-radius: 20px;
  margin: 20px auto 100px;
  text-align: center;
  font: bold 12px/40px "arial";
  color: #fff;
  box-shadow: 10px 10px 20px rgbd(0, 0, 0, 0.2);
}
#box7 .inner ul {
  width: 100%;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
}
#box7 .inner ul li {
  width: 100%;
  padding: 30px;
  border-bottom: 1px solid #bbb;
  position: relative;
}
#box7 .inner ul li::after {
  content: "";
  display: block;
  clear: both;
}
#box7 .inner ul li article {
  margin-right: 170px;
}
#box7 .inner ul li article h2 {
  font: bold 20px/1 "arial";
  color: #555;
  margin-bottom: 15px;
}
#box7 .inner ul li article p {
  font: 16px/1.2 "arial";
  color: #777;
  margin-bottom: 20px;
}
#box7 .inner ul li article span {
  font: bold 12px/1 "arial";
  color: #444;
}
#box7 .inner ul li .btn {
  display: block;
  width: 150px;
  height: 60px;
  border: 1px solid #888;
  font: 14px/60px "arial";
  color: #666;
  text-align: center;
  float: right;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
}

#box8 {
  width: 100%;
  padding: 180px 0px 150px;
  background: #444;
}
#box8 .inner {
  width: 1180px;
  margin: 0px auto;
  position: relative;
}
#box8 .inner h1 {
  font: bold 22px/1 "arial";
  color: #eee;
  margin-bottom: 80px;
  text-align: center;
}
#box8 .inner .wrap {
  position: relative;
  width: 100%;
  height: 450px;
}
#box8 .inner .wrap article {
  width: 280px;
  float: left;
  margin-right: 20px;
}
#box8 .inner .wrap article:last-child {
  margin-right: 0px;
}
#box8 .inner .wrap article .pic {
  width: 100%;
  height: 240px;
  background: #bbb;
}
#box8 .inner .wrap article .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#box8 .inner .wrap article .txtBox {
  width: 100%;
  height: 150px;
  padding: 20px;
  background-color: #fff;
}
#box8 .inner .wrap article .txtBox h2 {
  font: normal 14px/1 "arial";
  color: #888;
  margin-bottom: 10px;
}
#box8 .inner .wrap article .txtBox h3 {
  font: 18px/1 "arial";
  color: #666;
  margin-bottom: 40px;
}
#box8 .inner .wrap article .txtBox p a {
  font: bold 14px/1 "arial";
  color: #888;
  margin-right: 20px;
}
#box8 .inner .wrap article .txtBox p span {
  font: 12px/1 "arial";
  color: #999;
}

#box9 {
  width: 100%;
  padding: 180px 0px 150px;
  background: #efefef;
}
#box9 .inner {
  width: 1180px;
  margin: 0px auto;
  position: relative;
}
#box9 .inner h1 {
  font: bold 24px/1 "arial";
  color: #333;
  margin-bottom: 80px;
  text-align: center;
}
#box9 .inner .wrap::after {
  content: "";
  display: block;
  clear: both;
}
#box9 .inner .wrap article {
  width: 16.6666666667%;
  float: left;
  margin-bottom: 60px;
  text-align: center;
  padding: 0px 20px;
}
#box9 .inner .wrap article .ico i {
  font-size: 40px;
  color: #777;
}
#box9 .inner .wrap article p {
  margin-top: 20px;
  font: 16px/1 "arial";
  color: #888;
}

#box10 {
  width: 100%;
  padding: 100px 0px;
  background: #555;
}
#box10 .inner {
  width: 1180px;
  margin: 0px auto;
  position: relative;
}
#box10 .inner h1 {
  font: bold 22px/1 "arial";
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
}
#box10 .inner h2 {
  font: 16px/1 "arial";
  color: #ddd;
  margin-bottom: 30px;
  text-align: center;
}
#box10 .inner .btn {
  display: block;
  width: 180px;
  height: 40px;
  font: 12px/40px "arial";
  color: #fff;
  border-radius: 20px;
  border: 1px solid #fff;
  text-align: center;
  margin: 0px auto 80px;
}
#box10 .inner .wrap {
  width: 100%;
  height: 200px;
}
#box10 .inner .wrap::after {
  content: "";
  display: block;
  clear: both;
}
#box10 .inner .wrap article {
  float: left;
  width: 25%;
  text-align: center;
  padding: 0px 20px;
  position: relative;
}
#box10 .inner .wrap article::after {
  content: "";
  display: block;
  width: 1px;
  height: 80%;
  background: #fff;
  position: absolute;
  top: 10%;
  left: 0px;
  opacity: 0.3;
}
#box10 .inner .wrap article:nth-of-type(1)::after {
  display: none;
}
#box10 .inner .wrap article a i {
  font-size: 50px;
  color: #fff;
  margin-bottom: 30px;
  opacity: 0.7;
}
#box10 .inner .wrap article p {
  font: bold 15px/1 "arial";
  color: #fff;
}

#box11 {
  width: 100%;
  padding: 180px 0px 150px;
  background: #efefef;
}
#box11 .inner {
  width: 1180px;
  position: relative;
  margin: 0px auto;
}
#box11 .inner h1 {
  font: bold 24px/1.2 "arial";
  color: #555;
  margin-bottom: 10px;
  text-align: center;
}
#box11 .inner > p {
  font: 14px/1 "arial";
  color: #999;
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: 1px;
}
#box11 .inner .btn {
  display: block;
  width: 280px;
  height: 40px;
  font: bold 14px/40px "arial";
  color: #eee;
  background-color: #444;
  text-align: center;
  margin: 0 auto 100px;
}
#box11 .inner .wrap::after {
  content: "";
  display: block;
  clear: both;
}
#box11 .inner .wrap .left {
  float: left;
  width: 580px;
  height: 350px;
  background-color: #555;
  margin-right: 50px;
}
#box11 .inner .wrap .right {
  float: right;
  width: 480px;
  padding-top: 30px;
}
#box11 .inner .wrap .right article {
  width: 100%;
  margin-bottom: 50px;
  position: relative;
}
#box11 .inner .wrap .right article .pic {
  width: 80px;
  height: 80px;
  background: #bbb;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}
#box11 .inner .wrap .right article .txtBox {
  margin-bottom: 20px;
}
#box11 .inner .wrap .right article .txtBox h2 {
  font: bold 18px/1 "arial";
  color: #555;
  margin-bottom: 10px;
  margin-left: 100px;
}
#box11 .inner .wrap .right article .txtBox > p {
  font: 14px/1.2 "arial";
  color: #777;
  margin-left: 100px;
}

/*# sourceMappingURL=style.css.map */
