* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ol,
ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

#header {
	width: 100%;
	border-bottom: 1px solid #ddd;
	.inner {
		width: 1180px;
		height: 120px;
		margin: 0px auto;
		position: relative;
		h1 {
			position: absolute;
			left: 0px;
			bottom: 20px;
			a {
				font: bold 25px/1 'arial';
				color: #333;
			}
		}
		#gnb {
			position: absolute;
			bottom: 0px;
			right: 0px;
			li {
				float: left;
				a {
					display: block;
					width: 150px;
					height: 60px;
					font: bold 14px/60px 'arial';
					color: #555;
					text-align: center;
				}
			}
		}
		#util {
			position: absolute;
			right: 0px;
			top: 15px;
			li {
				float: left;
				a {
					display: inline-block;
					padding: 10px 30px;
					font: 12px/1 'arial';
					color: #777;
				}
			}
		}
		.btn {
			display: none;
		}
	}
}

