* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ol,
ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

#box0 {
	width: 100%;
	padding: 180px 0px 150px;
	background: #fff;
	transition: 0.5s;
	.inner {
		width: 1180px;
		margin: 0px auto;
		position: relative;
		h1 {
			font: bold 24px/1 'arial';
			color: #555;
			text-align: center;
			margin-bottom: 50px;
		}

		.wrap {
			article {
				width: 380px; //컴럼 3개니까
				margin-right: 20px;
				position: relative;
				float: left;

				&:last-child {
					margin-right: 0px;
				}

				.pic {
					width: 110px;
					height: 70px;
					background: #555;
					position: absolute;
					top: 0;
					left: 0;
				}
				h2 {
					font: bold 16px/1 'arial';
					color: #666;
					margin-left: 120px;
					margin-right: 45px;
					margin-bottom: 5px;
					padding-top: 10px;
				}
				p {
					font: 14px/1.2 'arial';
					color: #888;
					margin-left: 120px;
					margin-right: 45px;
				}
				.icon {
					display: block;
					width: 40px;
					height: 40px;
					border-radius: 50%;
					background: #ddd;
					position: absolute;
					top: 50%;
					right: 0px;
					margin-top: -20px;
					font-size: 20px;
					color: #fff;
					text-align: center;
					line-height: 40px;
				}
			}
		}
	}
}

@media screen and (max-width: 1179px) {
	#box0 {
		padding: 120px 20px 100px;

		.inner {
			width: 100%;
			.wrap {
				article {
					width: 32%;
					margin-right: 2%;

					.pic {
						width: 100%;
						height: 120px;
						position: relative;
						margin-bottom: 30px;
					}
					h2 {
						margin-left: 0px;
						margin-right: 0px;
					}
					p {
						margin-left: 0px;
						margin-right: 0px;
					}
					.icon {
						position: relative;
						top: 0%;
						right: 0px;
						margin-top: 10px;
					}
				}
			}
		}
	}
}
