@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

#header {
  width: 100%;
  padding: 25px 5vw;
}
#header .inner {
  width: 1180px;
  position: relative;
  margin: 0px auto;
}
#header .inner .upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
#header .inner .upper .homepage {
  font: bold 14px/1 "Noto Sans KR";
  color: #777;
}
#header .inner .upper #util {
  display: flex;
}
#header .inner .upper #util li {
  position: relative;
}
#header .inner .upper #util li a {
  display: inline-block;
  padding: 5px 10px;
  font: bold 14px/1 "Noto Sans KR";
  color: #777;
}
#header .inner .lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .inner .lower h1 img {
  width: 200px;
}
#header .inner .lower #gnb {
  display: flex;
  justify-content: center;
}
#header .inner .lower #gnb li {
  display: inline-block;
  padding: 10px 25px;
}
#header .inner .lower #gnb li a {
  font: bold 18px/1 "Noto Sans KR";
  color: #333;
}
#header .inner .lower .icon a {
  margin-right: 10px;
}
#header .inner .lower .icon a i {
  font-size: 18px;
  color: #333;
}

@media screen and (max-width: 1180px) {
  #header {
    padding: 20px 5vw;
  }
  #header .inner {
    width: 100%;
  }
  #header .inner .lower #gnb {
    display: none;
  }
}
@media screen and (max-width: 639px) {
  #header {
    padding: 20px 5vw;
  }
  #header .inner .upper {
    display: none;
  }
  #header .inner .lower h1 img {
    width: 150px;
  }
  #header .inner .lower #gnb {
    display: none;
  }
  #header .inner .lower .icon a i {
    font-size: 14px;
  }
}
#content1 {
  width: 100%;
  padding: 50px 5vw 30px;
}
#content1 .inner {
  width: 1180px;
  position: relative;
  margin: 0px auto;
}
#content1 .inner .wrap {
  display: flex;
  gap: 20px;
}
#content1 .inner .wrap .left {
  width: 70%;
}
#content1 .inner .wrap .left .swiper {
  width: 100%;
  height: 450px;
  border-radius: 15px;
}
#content1 .inner .wrap .left .swiper .swiper-wrapper .swiper-slide {
  padding: 40px;
}
#content1 .inner .wrap .left .swiper .swiper-wrapper .swiper-slide h1 {
  font: bold 30px/1.3 "Noto Sans KR";
  color: #fff;
  margin-bottom: 20px;
}
#content1 .inner .wrap .left .swiper .swiper-wrapper .swiper-slide p {
  font: bold 15px/1.3 "Noto Sans KR";
  color: #fff;
}
#content1 .inner .wrap .left .swiper .swiper-wrapper .swiper-slide.slide1 {
  background-image: url(https://static31.samsungcard.com/wcms/oap/images/work/bg_hero_808x462_20230310_v1.png);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#content1 .inner .wrap .left .swiper .swiper-wrapper .swiper-slide.slide2 {
  background-image: url(https://static31.samsungcard.com/wcms/oap/images/work/bg_hero_808x462_20230310_v2.png);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#content1 .inner .wrap .left .swiper .swiper-wrapper .swiper-slide.slide3 {
  background-image: url(https://static31.samsungcard.com/wcms/oap/images/work/bg_hero_808x462_20230310_v3.png);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#content1 .inner .wrap .left .swiper .swiper-wrapper .swiper-slide.slide4 {
  background-image: url(https://static31.samsungcard.com/wcms/oap/images/work/bg_hero_808x462_20230310_v4.png);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#content1 .inner .wrap .left .swiper .swiper-wrapper .swiper-slide.slide5 {
  background-image: url(https://static31.samsungcard.com/wcms/oap/images/work/bg_hero_808x462_20230310_v5.png);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#content1 .inner .wrap .right {
  width: 30%;
}
#content1 .inner .wrap .right article {
  width: 100%;
  height: 215px;
  border-radius: 20px;
}
#content1 .inner .wrap .right article ul {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  border-radius: 10px;
}
#content1 .inner .wrap .right article ul .txtBox {
  width: 60%;
}
#content1 .inner .wrap .right article ul .txtBox span {
  width: 50px;
  height: 25px;
  display: block;
  font: bold 12px/25px "Noto Sans KR";
  color: #fff;
  background: rgb(100, 100, 255);
  text-align: center;
  border-radius: 20px;
  margin-bottom: 20px;
}
#content1 .inner .wrap .right article ul .txtBox h1 {
  font: bold 18px/1.3 "Noto Sans KR";
  color: #333;
  margin-bottom: 15px;
}
#content1 .inner .wrap .right article ul .txtBox p {
  font: bold 15px/1.2 "Noto Sans KR";
  color: #888;
}
#content1 .inner .wrap .right article ul .img {
  width: 40%;
  height: 100%;
}
#content1 .inner .wrap .right article ul .img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#content1 .inner .wrap .right article:nth-of-type(1) {
  background: #fff3d0;
  margin-bottom: 20px;
}
#content1 .inner .wrap .right article:nth-of-type(2) {
  background: #e7e4ff;
}

@media screen and (max-width: 1180px) {
  #content1 {
    padding: 30px 5vw 20px;
  }
  #content1 .inner {
    width: 100%;
  }
  #content1 .inner .wrap {
    width: 100%;
  }
  #content1 .inner .wrap .left .swiper {
    height: 400px;
  }
  #content1 .inner .wrap .left .swiper .swiper-wrapper .swiper-slide {
    padding: 30px;
  }
  #content1 .inner .wrap .left .swiper .swiper-wrapper .swiper-slide h1 {
    font: bold 25px/1.3 "Noto Sans KR";
  }
  #content1 .inner .wrap .left .swiper .swiper-wrapper .swiper-slide p {
    font: bold 14px/1.3 "Noto Sans KR";
  }
  #content1 .inner .wrap .right article {
    height: 190px;
  }
  #content1 .inner .wrap .right article ul {
    display: block;
    padding: 20px;
  }
  #content1 .inner .wrap .right article ul .txtBox {
    width: 100%;
  }
  #content1 .inner .wrap .right article ul .txtBox span {
    width: 40px;
    height: 20px;
    font: bold 11px/20px "Noto Sans KR";
    margin-bottom: 10px;
  }
  #content1 .inner .wrap .right article ul .txtBox h1 {
    font: bold 15px/1.2 "Noto Sans KR";
    margin-bottom: 10px;
  }
  #content1 .inner .wrap .right article ul .txtBox p {
    font: bold 13px/1.2 "Noto Sans KR";
  }
  #content1 .inner .wrap .right article ul .img {
    display: none;
  }
}
@media screen and (max-width: 639px) {
  #content1 {
    padding: 20px 5vw;
  }
  #content1 .inner .wrap {
    display: block;
  }
  #content1 .inner .wrap .left {
    width: 100%;
    margin-bottom: 20px;
  }
  #content1 .inner .wrap .left .swiper {
    height: 250px;
  }
  #content1 .inner .wrap .left .swiper .swiper-wrapper .swiper-slide {
    padding: 25px;
  }
  #content1 .inner .wrap .left .swiper .swiper-wrapper .swiper-slide h1 {
    font: bold 23px/1.3 "Noto Sans KR";
  }
  #content1 .inner .wrap .left .swiper .swiper-wrapper .swiper-slide p {
    font: bold 13px/1.3 "Noto Sans KR";
  }
  #content1 .inner .wrap .right {
    width: 100%;
    display: flex;
    gap: 10px;
    text-align: center;
  }
  #content1 .inner .wrap .right article {
    width: 50%;
    height: auto;
  }
  #content1 .inner .wrap .right article:nth-of-type(1) {
    margin-bottom: 0px;
  }
  #content1 .inner .wrap .right article ul .txtBox span {
    width: 35px;
  }
  #content1 .inner .wrap .right article ul .txtBox h1 {
    font: bold 14px/1.2 "Noto Sans KR";
  }
  #content1 .inner .wrap .right article ul .txtBox p {
    font: bold 12px/1.2 "Noto Sans KR";
  }
}
#content2 {
  width: 100%;
  padding: 20px 5vw 50px;
}
#content2 .inner {
  width: 1180px;
  position: relative;
  margin: 0px auto;
  border: 1px solid #ddd;
  padding: 30px;
  border-radius: 20px;
}
#content2 .inner h1 {
  font: bold 15px/1 "Noto Sans KR";
  color: #111;
  margin-bottom: 20px;
}
#content2 .inner .wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
#content2 .inner .wrap .arrow {
  padding: 30px;
}
#content2 .inner .wrap .arrow i {
  color: #777;
  font-size: 23px;
}
#content2 .inner .wrap article {
  width: 100%;
  height: 150px;
  margin: 0px auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-right: 15px;
  text-align: center;
}
#content2 .inner .wrap article:last-child {
  margin-right: 0px;
}
#content2 .inner .wrap article .pic {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
#content2 .inner .wrap article span {
  font: bold 14px/1 "Noto Sans KR";
  color: #333;
}
#content2 .inner .btn {
  display: block;
  width: 200px;
  height: 35px;
  font: bold 13px/35px "Noto Sans KR";
  color: #fff;
  background: orangered;
  border-radius: 10px;
  text-align: center;
  margin: 0px auto;
  transition: 0.5s;
}
#content2 .inner .btn:hover {
  background: rgb(255, 30, 0);
}

#banner {
  width: 100%;
  padding: 20px 5vw;
}
#banner .inner {
  width: 1180px;
  margin: 0px auto;
  position: relative;
  background: rgb(206, 232, 243);
  border-radius: 10px;
  padding: 10px;
}
#banner .inner .wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#banner .inner .wrap h1 {
  text-align: center;
}
#banner .inner .wrap h1 a {
  font: bold 18px/1 "arial";
  color: #111;
}

@media screen and (max-width: 1180px) {
  #banner .inner {
    width: 100%;
  }
  #banner .inner .wrap h1 a {
    font: bold 14px/1 "Noto sans KR";
  }
}
#content3 {
  width: 100%;
  padding: 20px 5vw 30px;
}
#content3 .inner {
  width: 1180px;
  margin: 0px auto;
}
#content3 .inner .wrap {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
#content3 .inner .wrap .left {
  width: 50%;
}
#content3 .inner .wrap .left h1 {
  font: bold 15px/1 "Noto Sans KR";
  color: #333;
  margin-bottom: 20px;
}
#content3 .inner .wrap .left ul {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 20px;
}
#content3 .inner .wrap .left ul li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 20px;
}
#content3 .inner .wrap .left ul li:last-child {
  border-bottom: none;
}
#content3 .inner .wrap .left ul li .fa-credit-card,
#content3 .inner .wrap .left ul li .fa-calculator,
#content3 .inner .wrap .left ul li .fa-sack-dollar,
#content3 .inner .wrap .left ul li .fa-magnifying-glass-dollar {
  width: 10%;
  text-align: center;
  font-size: 30px;
}
#content3 .inner .wrap .left ul li .fa-credit-card {
  color: rgb(92, 92, 240);
}
#content3 .inner .wrap .left ul li .fa-calculator {
  color: rgb(76, 169, 223);
}
#content3 .inner .wrap .left ul li .fa-sack-dollar {
  color: rgb(255, 187, 0);
}
#content3 .inner .wrap .left ul li .fa-magnifying-glass-dollar {
  color: rgb(143, 66, 143);
}
#content3 .inner .wrap .left ul li .txtBox {
  width: 60%;
}
#content3 .inner .wrap .left ul li .txtBox h2 {
  font: bold 15px/1 "Noto Sans KR";
  color: #333;
  margin-bottom: 10px;
}
#content3 .inner .wrap .left ul li .txtBox span {
  font: 14px/1 "Noto Sans KR";
  color: #555;
}
#content3 .inner .wrap .left ul li .arrow {
  width: 20%;
  text-align: right;
}
#content3 .inner .wrap .left ul li .arrow i {
  font-size: 20px;
  color: #333;
}
#content3 .inner .wrap .right {
  width: 50%;
}
#content3 .inner .wrap .right h1 {
  font: bold 15px/1 "Noto Sans KR";
  color: #333;
  margin-bottom: 20px;
}
#content3 .inner .wrap .right ul {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 20px;
}
#content3 .inner .wrap .right ul li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 20px;
}
#content3 .inner .wrap .right ul li:last-child {
  border-bottom: none;
}
#content3 .inner .wrap .right ul li .fa-car,
#content3 .inner .wrap .right ul li .fa-chart-pie,
#content3 .inner .wrap .right ul li .fa-receipt {
  width: 10%;
  text-align: center;
  font-size: 30px;
}
#content3 .inner .wrap .right ul li .fa-car {
  color: orange;
}
#content3 .inner .wrap .right ul li .fa-chart-pie {
  color: green;
}
#content3 .inner .wrap .right ul li .fa-receipt {
  color: rgb(94, 94, 243);
}
#content3 .inner .wrap .right ul li .txtBox {
  width: 60%;
}
#content3 .inner .wrap .right ul li .txtBox h2 {
  font: bold 15px/1 "Noto Sans KR";
  color: #333;
}
#content3 .inner .wrap .right ul li .txtBox span {
  font: 14px/1 "Noto Sans KR";
  color: #555;
}
#content3 .inner .wrap .right ul li .arrow {
  width: 20%;
  text-align: right;
}
#content3 .inner .wrap .right ul li .arrow i {
  font-size: 20px;
  color: #333;
}

@media screen and (max-width: 1180px) {
  #content3 .inner {
    width: 100%;
  }
  #content3 .inner .wrap {
    gap: 15px;
  }
  #content3 .inner .wrap .left h1 {
    font: bold 14px/1 "Noto Sans KR";
    margin-bottom: 15px;
  }
  #content3 .inner .wrap .left ul li .fa-credit-card,
  #content3 .inner .wrap .left ul li .fa-calculator,
  #content3 .inner .wrap .left ul li .fa-sack-dollar,
  #content3 .inner .wrap .left ul li .fa-magnifying-glass-dollar {
    font-size: 25px;
    margin-right: 30px;
  }
  #content3 .inner .wrap .left ul li .txtBox h2 {
    font: bold 14px/1 "Noto Sans KR";
  }
  #content3 .inner .wrap .left ul li .txtBox span {
    font: 13px/1 "Noto Sans KR";
  }
  #content3 .inner .wrap .left ul li .arrow i {
    font-size: 15px;
  }
  #content3 .inner .wrap .right h1 {
    font: bold 14px/1 "Noto Sans KR";
    margin-bottom: 15px;
  }
  #content3 .inner .wrap .right ul li .fa-car,
  #content3 .inner .wrap .right ul li .fa-chart-pie,
  #content3 .inner .wrap .right ul li .fa-receipt {
    font-size: 25px;
    margin-right: 30px;
  }
  #content3 .inner .wrap .right ul li .txtBox h2 {
    font: bold 14px/1 "Noto Sans KR";
  }
  #content3 .inner .wrap .right ul li .txtBox span {
    font: 13px/1 "Noto Sans KR";
  }
  #content3 .inner .wrap .right ul li .arrow i {
    font-size: 15px;
  }
}
@media screen and (max-width: 639px) {
  #content3 .inner .wrap {
    display: block;
  }
  #content3 .inner .wrap .left {
    width: 100%;
    margin-bottom: 20px;
  }
  #content3 .inner .wrap .left ul li .fa-credit-card,
  #content3 .inner .wrap .left ul li .fa-calculator,
  #content3 .inner .wrap .left ul li .fa-sack-dollar,
  #content3 .inner .wrap .left ul li .fa-magnifying-glass-dollar {
    margin-right: 20px;
  }
  #content3 .inner .wrap .left ul li .txtBox {
    width: 70%;
  }
  #content3 .inner .wrap .left ul li .txtBox h2 {
    font: bold 13px/1.2 "Noto Sans KR";
  }
  #content3 .inner .wrap .left ul li .txtBox span {
    font: 12px/1.2 "Noto Sans KR";
  }
  #content3 .inner .wrap .left ul li .arrow {
    width: 10%;
  }
  #content3 .inner .wrap .left ul li .arrow i {
    font-size: 13px;
  }
  #content3 .inner .wrap .right {
    width: 100%;
  }
  #content3 .inner .wrap .right ul li .fa-car,
  #content3 .inner .wrap .right ul li .fa-chart-pie,
  #content3 .inner .wrap .right ul li .fa-receipt {
    margin-right: 20px;
  }
  #content3 .inner .wrap .right ul li .txtBox {
    width: 70%;
  }
  #content3 .inner .wrap .right ul li .txtBox h2 {
    font: bold 13px/1.2 "Noto Sans KR";
  }
  #content3 .inner .wrap .right ul li .txtBox span {
    font: 12px/1.2 "Noto Sans KR";
  }
  #content3 .inner .wrap .right ul li .arrow {
    width: 10%;
  }
  #content3 .inner .wrap .right ul li .arrow i {
    font-size: 13px;
  }
}
#content4 {
  width: 100%;
  padding: 20px 5vw 50px;
}
#content4 .inner {
  width: 1180px;
  position: relative;
  margin: 0px auto;
}
#content4 .inner h2 {
  margin-bottom: 20px;
}
#content4 .inner h2 a {
  font: bold 20px/1 "Noto Sans KR";
  color: #222;
}
#content4 .inner .wrap {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
#content4 .inner .wrap .left {
  width: 70%;
  height: 100%;
}
#content4 .inner .wrap .left .btn {
  display: block;
  width: 100%;
  height: 50px;
  text-align: center;
  font: bold 14px/50px "Noto Sans KR";
  color: #000;
  margin-top: 50px;
  border-radius: 10px;
  transition: 0.3s;
}
#content4 .inner .wrap .left .btn:hover {
  background: #ddd;
}
#content4 .inner .wrap .left .leftWrap {
  display: flex;
  justify-content: center;
  gap: 10px;
}
#content4 .inner .wrap .left .leftWrap article {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  background: #f1f1f1;
}
#content4 .inner .wrap .left .leftWrap article .pic {
  width: 100%;
  margin-bottom: 20px;
}
#content4 .inner .wrap .left .leftWrap article .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#content4 .inner .wrap .left .leftWrap article h3 {
  font: bold 16px/1.3 "Noto Sans KR";
  color: #222;
  text-align: center;
  margin-bottom: 20px;
}
#content4 .inner .wrap .left .leftWrap article span {
  display: block;
  font: 15px/1 "Noto Sans KR";
  color: #555;
  text-align: center;
  margin-bottom: 20px;
}
#content4 .inner .wrap .right {
  width: 30%;
  height: 100%;
  display: block;
}
#content4 .inner .wrap .right article {
  width: 100%;
  height: 50%;
  border-radius: 20px;
  background: #efefef;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
#content4 .inner .wrap .right article .txtBox {
  padding: 30px;
}
#content4 .inner .wrap .right article .txtBox span {
  display: block;
  width: 80px;
  height: 25px;
  font: bold 11px/25px "Noto Sans KR";
  color: #fff;
  background: #333;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 10px;
}
#content4 .inner .wrap .right article .txtBox h3 {
  font: bold 23px/1.3 "Noto Sans KR";
  color: #333;
  margin-bottom: 10px;
}
#content4 .inner .wrap .right article .txtBox p {
  font: 15px/1.3 "Noto Sans KR";
  color: #555;
}
#content4 .inner .wrap .right article .pic {
  margin: 0px auto;
  width: 100px;
  height: 100px;
}
#content4 .inner .wrap .right article .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#content4 .inner .wrap .right article:last-child {
  margin-bottom: 0px;
}

#footer {
  width: 100%;
  padding: 20px 5vw 30px;
}
#footer .inner {
  width: 1180px;
  position: relative;
  margin: 0px auto;
}
#footer .inner .upper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #bbb;
  padding-bottom: 15px;
}
#footer .inner .upper .left span {
  font: 14px/1 "Noto Sans KR";
  margin-right: 20px;
}
#footer .inner .upper .right {
  display: flex;
  gap: 20px;
}
#footer .inner .upper .right li a {
  font-size: 20px;
  color: rgb(97, 97, 97);
}
#footer .inner .middle {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
#footer .inner .middle #menubar #menu {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}
#footer .inner .middle #menubar #menu li a {
  font: 14px/1 "Noto Sans KR";
  color: #666;
}
#footer .inner .middle #menubar #info {
  display: flex;
  gap: 20px;
  margin-bottom: 35px;
}
#footer .inner .middle #menubar #info li {
  font: 14px/1 "Noto Sans KR";
  color: #333;
}
#footer .inner .middle select {
  width: 150px;
  height: 30px;
  border: 1px solid #999;
  font: bold 13px/30px "Noto Sans KR";
  padding-left: 10px;
  color: #555;
}
#footer .inner .lower p {
  font: 15px/1 "Noto Sans KR";
  color: #888;
}

/*# sourceMappingURL=style.css.map */
