* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo', 'Pretendard Variable', Pretendard, Roboto, 'Noto Sans KR', 'Segoe UI', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', sans-serif;
}

/* 헤더바 */
header {
	border-bottom: 1px solid #ededef;
	margin-top: 20px;
	padding-bottom: 10px;

	/* 인풋바 */
	.info-bar {
		display: flex;
		justify-content: space-between;
		padding: 0 10px 0 10px; //위 오른쪽 아래 왼쪽
		align-items: center;

		.info-ber__time {
			font-size: 12px;
			font-weight: bold;
		}

		.info-ber__icons {
			img {
				width: 15px;
			}
		}
	}

	/* 메뉴바 */
	.menu-bar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 10px;

		.menu-bar__location {
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: bold;
			padding-left: 10px;

			.menu-bar__location-icon {
				display: flex;
				justify-content: center;
				align-items: center;
				padding-top: 5px;
				img {
					width: 15px;
				}
			}
		}

		.menu-bar__icons {
			display: flex;
			justify-content: center;
			align-items: center;
			img {
				width: 25px;
				margin-right: 10px;
			}
		}
	}
}

/* 푸터바 */
footer {
	width: 100vw;
	position: fixed;
	bottom: 0;
	padding-bottom: 30px;
	border-top: 1px solid #eaeaea;
	padding-top: 20px;
	background-color: #fff;

	.footer-block {
		display: flex;
		justify-content: space-evenly;
		align-items: center;

		.footer-icons {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: 0 10px 0 10px;
			cursor: pointer;

			.footer-icons__img {
				width: 30px;
			}

			.footer-icons__desc {
				font-weight: bold;
				transform: scale(0.8);
			}
		}
	}
}

/* 메인 */
