* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ol,
ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

#icon1 {
	width: 100%;
	padding: 180px 0px 150px;
	transition: 0.5s;
	.inner {
		width: 1180px;
		margin: 0px auto;
		position: relative;
		h1 {
			font: bold 22px/1 'arial';
			color: #555;
			margin-bottom: 80px;
			text-align: center;
		}
		.wrap {
			&::after {
				display: block;
				content: '';
				clear: both;
			}
			article {
				float: left;
				text-align: center;
				width: calc(100% / 6);
				margin-bottom: 60px;
				padding: 0px 20px;
				.ico {
					i {
						font-size: 25px;
						color: #777;
						margin-bottom: 20px;
					}
				}
				p {
					color: #888;
					font: 16px/1 'arial';
				}
			}
		}
	}
}

@media screen and (max-width: 1180px) {
	#icon1 {
		padding: 120px 20px 100px;
		.inner {
			width: 100%;
			h1 {
				margin-bottom: 40px;
			}
			.wrap {
				article {
					width: calc(100% / 3);
				}
			}
		}
	}
}

@media screen and (max-width: 639px) {
	#icon1 {
		padding: 100px 20px 80px;
		.inner {
			.wrap {
				article {
					width: calc(100% / 2);
				}
			}
		}
	}
}
