* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ol,
ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

#icon1 {
	width: 100%;
	padding: 180px 0px 150px;
	.inner {
		width: 1180px;
		margin: 0px auto;
		position: relative;
		h1 {
			font: bold 22px/1 'arial';
			color: #555;
			margin-bottom: 80px;
			text-align: center;
		}
		.wrap {
			&::after {
				display: block;
				content: '';
				clear: both;
			}
			article {
				float: left;
				text-align: center;
				width: calc(100% / 6);
				margin-bottom: 60px;
				padding: 0px 20px;
				.ico {
					i {
						font-size: 25px;
						color: #777;
						margin-bottom: 20px;
					}
				}
				p {
					color: #777;
					font: 16px/1 'arial';
				}
			}
		}
	}
}
