* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ol,
ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

#box9 {
	width: 100%;
	&::after {
		display: block;
		content: '';
		clear: both;
	}
	.left {
		width: 50%;
		height: 400px;
		background: #888;
		float: left;
		transition: 0.5s;
	}
	.right {
		width: 50%;
		height: 400px;
		background: #222;
		float: left;
		transition: 0.5s;
		.inner {
			width: 590px;
			padding: 40px;
			h1 {
				font: bold 22px/1 'arial';
				color: #fff;
				margin-bottom: 5px;
			}
			h2 {
				font: bold 18px/1 'arial';
				color: #aaa;
				margin-bottom: 50px;
			}
			article {
				margin-bottom: 30px;
				h3 {
					font: bold 16px/1 'arial';
					color: #666;
					margin-bottom: 10px;
				}
				p {
					font: 12px/1.2 'arial';
					color: #555;
				}
			}

			.btn {
				display: block;
				width: 120px;
				height: 30px;
				font: 12px/30px 'arial';
				color: #111;
				background: #666;
				text-align: center;
				border-radius: 15px;
			}
		}
	}
}

@media screen and (max-width: 1180px) {
	#box9 {
		.left {
			width: 30%;
		}
		.right {
			width: 70%;
			.inner {
				width: 100%;
				padding: 30px;
				article {
					margin-bottom: 20px;
				}
			}
		}
	}
}

@media screen and (max-width: 639px) {
	#box9 {
		.left {
			width: 100%;
			height: 30vw;
		}
		.right {
			width: 100%;
			height: auto;
		}
	}
}
