body {
	background: black;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #000;
}

.ball {
	width: 300px;
	height: 300px;
	background: #fff;
	border-radius: 50%;
	box-shadow: 
  /* 공 바깥쪽 그림자 */ 0 0 20px #fff, 10px 10px 20px 10px purple, -10px -10px 20px 0 cyan;
}
