* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ol,
ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

#header {
	width: 100%;

	.wrap {
		width: 1180px;
		height: 100px;
		margin: 0px auto;
		display: flex;
		justify-content: space-between;
		align-items: center;

		h1 {
			a {
				font: bold 28px/1 'arial';
				color: #111;
			}
		}

		#gnb {
			display: flex;
			li {
				a {
					font: bold 16px/1 'arial';
					color: #222;
					margin-right: 40px;
					&:hover {
						color: #0004ff;
					}
				}
			}
		}

		.recruit {
			font: bold 14px/1 'arial';
			color: #555;
			&:hover {
				color: #0004ff;
			}
		}

		.btn {
			display: none;
		}
	}
}

@media screen and (max-width: 1180px) {
	#header {
		.wrap {
			width: 100%;
			height: 85px;
			padding: 20px;

			h1 {
				a {
					font: bold 26px/1 'arial';
				}
			}

			#gnb {
				display: none;
			}

			.recruit {
				display: none;
			}

			.btn {
				display: block;
				color: #333;
				font-size: 20px;
			}
		}
	}
}

#visual {
	width: 100%;
	height: calc(100vh - 100px);
	background: url(img/bg.jpg);
	.wrap {
		width: 1180px;
		h1 {
			position: absolute;
			left: 30px;
			bottom: 150px;
			font: bold 40px/1.5 'arial';
			color: #fff;
		}
	}
}

#content1 {
	width: 100%;

	.wrap {
		width: 1180px;
		padding: 50px 0px 80px;
		margin: 0px auto;
		display: flex;
		justify-content: space-between;

		article {
			width: calc(100% / 3 - 40px);
			margin-right: 20px;

			&:last-child {
				margin-right: 0px;
			}
			h1 {
				font: bold 23px/1 'arial';
				color: #333;
				margin-bottom: 20px;
				margin-top: 20px;
			}
			.media,
			.work,
			.culture {
				border-radius: 20px;
				display: block;
				overflow: hidden;
				box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.09);
			}
			.pic {
				width: 100%;
				height: 250px;
				margin-bottom: 20px;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			h2 {
				padding: 15px;
				font: bold 20px/1 'arial';
				color: #333;
				margin-bottom: 20px;
			}
			p {
				padding: 15px;
				font: bold 13px/1.6 'arial';
				color: gray;
			}
		}
	}
}
