* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

#header {
  width: 100%;
}
#header .wrap {
  width: 1180px;
  height: 100px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .wrap h1 a {
  font: bold 28px/1 "arial";
  color: #111;
}
#header .wrap #gnb {
  display: flex;
}
#header .wrap #gnb li a {
  font: bold 16px/1 "arial";
  color: #222;
  margin-right: 40px;
}
#header .wrap #gnb li a:hover {
  color: #0004ff;
}
#header .wrap .recruit {
  font: bold 14px/1 "arial";
  color: #555;
}
#header .wrap .recruit:hover {
  color: #0004ff;
}
#header .wrap .btn {
  display: none;
}

@media screen and (max-width: 1180px) {
  #header .wrap {
    width: 100%;
    height: 85px;
    padding: 20px;
  }
  #header .wrap h1 a {
    font: bold 26px/1 "arial";
  }
  #header .wrap #gnb {
    display: none;
  }
  #header .wrap .recruit {
    display: none;
  }
  #header .wrap .btn {
    display: block;
    color: #333;
    font-size: 20px;
  }
}
#visual {
  width: 100%;
  height: calc(100vh - 100px);
  background: url(img/bg.jpg);
}
#visual .wrap {
  width: 1180px;
}
#visual .wrap h1 {
  position: absolute;
  left: 30px;
  bottom: 150px;
  font: bold 40px/1.5 "arial";
  color: #fff;
}

#content1 {
  width: 100%;
}
#content1 .wrap {
  width: 1180px;
  padding: 50px 0px 80px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}
#content1 .wrap article {
  width: calc(33.3333333333% - 40px);
  margin-right: 20px;
}
#content1 .wrap article:last-child {
  margin-right: 0px;
}
#content1 .wrap article h1 {
  font: bold 23px/1 "arial";
  color: #333;
  margin-bottom: 20px;
  margin-top: 20px;
}
#content1 .wrap article .media,
#content1 .wrap article .work,
#content1 .wrap article .culture {
  border-radius: 20px;
  display: block;
  overflow: hidden;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.09);
}
#content1 .wrap article .media:hover,
#content1 .wrap article .work:hover,
#content1 .wrap article .culture:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}
#content1 .wrap article .pic {
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
  overflow: hidden;
}
#content1 .wrap article .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#content1 .wrap article h2 {
  padding: 15px;
  font: bold 20px/1 "arial";
  color: #333;
  margin-bottom: 20px;
}
#content1 .wrap article p {
  padding: 15px;
  font: bold 13px/1.6 "arial";
  color: gray;
}

@media screen and (max-width: 1180px) {
  #content1 .wrap {
    width: 100%;
    padding: 50px 5vw;
  }
  #content1 .wrap article {
    width: calc(33.3333333333% - 30px);
    margin-right: 15px;
  }
  #content1 .wrap article h1 {
    font: bold 20px/1 "arial";
    margin-bottom: 17px;
    margin-top: 17px;
  }
  #content1 .wrap article .pic {
    height: 200px;
    margin-bottom: 15px;
  }
  #content1 .wrap article h2 {
    padding: 10px;
    font: bold 15px/1 "arial";
    margin-bottom: 15px;
  }
  #content1 .wrap article p {
    padding: 10px;
    font: bold 11px/1.6 "arial";
  }
}
@media screen and (max-width: 639px) {
  #content1 .wrap {
    padding: 30px 20vw;
    display: block;
  }
  #content1 .wrap article {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }
  #content1 .wrap article .pic {
    height: 150px;
  }
}
#content2 {
  width: 100%;
  padding: 50px 0px 80px;
}
#content2 .wrap {
  width: 1180px;
}
#content2 .wrap h1 {
  font: bold 30px/1 "arial";
  color: #333;
  text-align: center;
  margin-bottom: 50px;
}
#content2 .wrap article {
  width: 800px;
  display: flex;
  justify-content: flex-start;
  margin: 0px auto 50px;
  padding: 20px;
  transition: 0.5s;
  overflow: hidden;
}
#content2 .wrap article:hover {
  background: #f8f8f8;
}
#content2 .wrap article:hover .pic {
  transform: scale(1.05);
  transition: transform 0.5s;
}
#content2 .wrap article .pic {
  width: 200px;
  height: 200px;
  margin-right: 50px;
}
#content2 .wrap article .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#content2 .wrap article .txtBox {
  padding: 20px;
}
#content2 .wrap article .txtBox h2 {
  font: bold 20px/1 "arial";
  color: #444;
  margin-bottom: 30px;
}
#content2 .wrap article .txtBox p {
  font: 15px/1 "arial";
  color: #555;
  margin-bottom: 30px;
}
#content2 .wrap article .txtBox span {
  font: 13px/1 "arial";
  color: rgb(180, 177, 177);
}

@media screen and (max-width: 1180px) {
  #content2 {
    padding: 50px 0px;
  }
  #content2 .wrap {
    width: 100%;
  }
  #content2 .wrap h1 {
    margin-bottom: 35px;
  }
  #content2 .wrap article {
    width: 100%;
    padding: 10px;
  }
  #content2 .wrap article .pic {
    width: 150px;
    height: 150px;
    margin-right: 15px;
  }
  #content2 .wrap article .txtBox {
    padding: 10px;
  }
  #content2 .wrap article .txtBox h2 {
    font: bold 17px/1 "arial";
    margin-bottom: 20px;
  }
  #content2 .wrap article .txtBox p {
    font: 14px/1 "arial";
    margin-bottom: 20px;
  }
  #content2 .wrap article .txtBox span {
    font: 11px/1 "arial";
  }
}
@media screen and (max-width: 639px) {
  #content2 {
    padding: 40px 20vw;
  }
  #content2 .wrap h1 {
    margin-bottom: 30px;
  }
  #content2 .wrap article {
    display: block;
    margin-bottom: 10px;
  }
  #content2 .wrap article .pic {
    width: 100%;
    height: 200px;
    margin-right: 0px;
    margin-bottom: 20px;
  }
}
#banner {
  width: 100%;
  border: 1px solid #ddd;
  padding: 80px 0px;
  background-image: url(img/pic1.jpg);
  background-attachment: fixed;
}
#banner .wrap {
  width: 1180px;
  margin: 0px auto;
  text-align: center;
}
#banner .wrap h1 {
  font: bold 30px/1 "arial";
  color: #fff;
  margin-bottom: 20px;
}
#banner .wrap h2 {
  font: bold 20px/1.5 "arial";
  color: #fff;
  margin-bottom: 50px;
}
#banner .wrap p {
  font: 15px/1.5 "arial";
  color: #fff;
}

@media screen and (max-width: 1180px) {
  #banner {
    padding: 60px 0px;
  }
  #banner .wrap {
    width: 100%;
  }
  #banner .wrap h1 {
    font: bold 25px/1 "arial";
  }
  #banner .wrap h2 {
    font: 15px/1.5 "arial";
  }
  #banner .wrap p {
    font: 12px/1.5 "arial";
  }
}
#footer {
  width: 100%;
  padding: 50px 0px 80px;
  background: #efefef;
}
#footer .wrap {
  width: 1180px;
  margin: 0px auto;
}
#footer .wrap h1 {
  font: bold 30px/1.5 "arial";
  color: #111;
  margin-bottom: 20px;
}
#footer .wrap .footer_txt {
  display: flex;
  justify-content: space-between;
}
#footer .wrap .footer_txt #menu {
  display: flex;
  justify-content: flex-end;
}
#footer .wrap .footer_txt #menu li {
  margin-right: 20px;
  margin-bottom: 20px;
}
#footer .wrap .footer_txt #menu li a {
  font: 14px/1 "arial";
  color: #555;
}
#footer .wrap .footer_txt #gnb {
  display: flex;
  justify-content: flex-end;
}
#footer .wrap .footer_txt #gnb li {
  margin-right: 20px;
  margin-bottom: 20px;
  font: 13px/1 "arial";
  color: #555;
}
#footer .wrap p {
  font: 14px/1 "arial";
  color: #888;
}

/*# sourceMappingURL=style.css.map */
