* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ol,
ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

#icon2 {
	width: 100%;
	padding: 100px 0px;
	background: #555;
	transition: 0.5s;
	// 높이값 변경할때 높낮이가 줄어들면서 모션
	.inner {
		width: 1180px;
		margin: 0px auto;
		position: relative;
		h1 {
			font: bold 22px/1 'arial';
			color: #fff;
			text-align: center;
			margin-bottom: 10px;
		}
		> p {
			font: 16px/1 'arial';
			color: #bbb;
			text-align: center;
			margin-bottom: 40px;
		}
		.btn {
			display: block;
			width: 200px;
			height: 40px;
			font: 14px/40px 'arial';
			color: #ddd;
			border: 1px solid #888;
			border-radius: 20px;
			margin: 0px auto 70px;
			text-align: center;
		}
		.wrap {
			&::after {
				content: '';
				display: block;
				clear: both;
			}
			article {
				float: left;
				width: calc(100% / 4);
				text-align: center;
				padding: 0px 20px;
				position: relative;
				&::after {
					display: block;
					content: '';
					width: 1px;
					height: 80%;
					background: #eee;
					position: absolute;
					top: 10%;
					right: 0%;
				}
				&:nth-last-of-type(1)::after {
					display: none;
				}
				.ico {
					i {
						font-size: 50px;
						color: #fff;
						margin-bottom: 20px;
						opacity: 0.7;
					}
				}
				p {
					font: bold 14px/1 'arial';
					color: #ddd;
				}
			}
		}
	}
}

@media screen and (max-width: 1180px) {
	#icon2 {
		padding: 80px 20px;
		.inner {
			width: 100%;

			.btn {
				margin: 0px auto 40px;
			}
			.wrap {
				article {
					width: calc(100% / 2);
					margin-bottom: 50px;
					&:nth-last-of-type(2n-1)::after {
						display: none;
					}

					.ico {
						i {
							font-size: 40px;
						}
					}
				}
			}
		}
	}
}

#banner1 {
	width: 100%;
	padding: 180px 0px 150px;
	background: #444;
	transition: 0.5s;
	.inner {
		width: 1180px;
		margin: 0px auto;
		position: relative;
		h1 {
			font: bold 22px/1 'arial';
			color: #eee;
			text-align: center;
			margin-bottom: 80px;
		}
		.wrap {
			position: relative;
			&::after {
				display: block;
				content: '';
				clear: both;
			}
			article {
				width: 280px;
				margin-right: 20px;
				float: left;
				&:nth-last-of-type(1) {
					margin-right: 0px;
				}
				.pic {
					width: 100%;
					height: 240px;
					background: #bbb;
				}
				.txtBox {
					width: 100%;
					height: 150px;
					background: #fff;
					padding: 20px;
					h2 {
						font: 14px/1 'arial';
						color: #888;
						margin-bottom: 10px;
					}
					h3 {
						font: 18px/1 'arial';
						color: #666;
						margin-bottom: 40px;
					}
					p {
						.btn {
							font: bold 14px/1 'arial';
							color: #888;
							margin-right: 20px;
						}
						// 인라인: 마진탑, 마진바텀은 안먹지만, 마진레프트,마진라이트는 적용됨
						span {
							font: 12px/1 'arial';
							color: #999;
						}
					}
				}
			}

			@media screen and (max-width: 1180px) {
				#banner1 {
					padding: 120px 20px 100px;
					.inner {
						width: 100%;
						h1 {
							margin-bottom: 60px;
						}
						.wrap {
							article {
								width: 49%;
								margin-right: 2%;
								margin-bottom: 20px;
								&:nth-last-of-type(2n-1) {
									margin-right: 0px;
								}
								.pic {
									height: 20vw;
								}
								.txtBox {
									height: auto;
								}
							}
						}
					}
				}
			}
		}
	}
}


@media screen and (max-width: 1180px) {
	#banner1 {
		padding: 120px 20px 100px;
		.inner {
			width: 100%;
			h1 {
				margin-bottom: 60px;
			}
			.wrap {
				article {
					width: 49%;
					margin-right: 2%;
					margin-bottom: 20px;
					&:nth-last-of-type(2n-1) {
						margin-right: 0px;
					}
					.pic {
						height: 20vw;
					}
					.txtBox {
						height: auto;
					}
				}
			}
		}
	}
}