* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

ol,
ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

#slider {
	width: 400px;
	height: 200px;
	border: 1px solid #333;
	margin: 100px auto;
	position: relative;
	overflow: hidden;

	#panel {
		position: absolute;
		width: calc(100% * 9);
		height: 100%;
		li {
			width: calc(100% / 9);
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			font: 30px/1 'arial';
			color: #fff;
			float: left;
			&:nth-of-type(1) {
				background: aqua;
			}
			&:nth-of-type(2) {
				background: pink;
			}
			&:nth-of-type(3) {
				background: lightgreen;
			}
			&:nth-of-type(4) {
				background: violet;
			}
			&:nth-of-type(5) {
				background: orange;
			}
			&:nth-of-type(6) {
				background: lightblue;
			}
			&:nth-of-type(7) {
				background: lightcoral;
			}
			&:nth-of-type(8) {
				background: lightseagreen;
			}
			&:nth-of-type(9) {
				background: blueviolet;
			}
		}
	}

	.btn {
		position: absolute;
		left: 30px;
		bottom: 30px;

		li {
			width: 20px;
			height: 20px;
			background: #fff;
			float: left;
			margin-right: 10px;
			cursor: pointer;
			transition: 0.5s;

			&.on {
				width: 80px;
				background: #333;
			}
		}
	}
}
